# Global snippets

snippet #icon
	# -*- coding: UTF-8 -*-
	#
	# ${1:`expand('%')`}
	# Copyright `&enc[:2] == "utf" ? "©" : "(c)"` `strftime("%Y")` ${2:`g:snips_author`}. All Rights Reserved.
	# All Rights Reserved
	${3}
