snippet copypy "commented copyright header" b
# -*- coding: UTF-8 -*-
#
# ${1:`!v expand('%')`}
# Copyright `!v &enc[:2] == "utf" ? "©" : "(c)"` `!v strftime("%Y")` ${2:`!v g:snips_author`}. All Rights Reserved.
${3}
endsnippet
