snippet hicon 
	__version__ = '${1:version}'
	__license__ = 'Icon E-Business Solution'
	__author__ = ('${2:`!v g:snips_author`}')
	${3}
endsnippet

snippet hnca
	__version__ = '${1:version}'
	__license__ = 'The National Centre for Audiology'
	__author__ = ('${2:`!v g:snips_author`}')
	${3}
endsnippet

snippet #python
#!/usr/bin/env python
# encoding: utf-8
# ('${1:`!v g:snips_author`}'), 2010-`date +%Y`
${3}
endsnippet
