[submodule "bundle/emodeline"]
	path = bundle/emodeline
	url = http://github.com/vim-scripts/emodeline.git
[submodule "bundle/textobj-user"]
	path = bundle/textobj-user
	url = http://github.com/kana/vim-textobj-user.git
[submodule "bundle/argtextobj"]
	path = bundle/argtextobj
	url = http://github.com/vim-scripts/argtextobj.vim.git
[submodule "bundle/looks"]
	path = bundle/looks
	url = http://github.com/vim-scripts/looks.git
[submodule "bundle/NERD_tree"]
	path = bundle/NERD_tree
	url = git@github.com:SjB/nerdtree.git
