[submodule "bundle/emodeline"]
	path = bundle/emodeline
	url = http://github.com/vim-scripts/emodeline.git
[submodule "bundle/textobj-user"]
	path = bundle/textobj-user
	url = http://github.com/kana/vim-textobj-user.git
[submodule "bundle/argtextobj"]
	path = bundle/argtextobj
	url = http://github.com/vim-scripts/argtextobj.vim.git
[submodule "bundle/looks"]
	path = bundle/looks
	url = http://github.com/vim-scripts/looks.git
[submodule "bundle/NERD_tree"]
	path = bundle/NERD_tree
	url = git@github.com:SjB/nerdtree.git
[submodule "bundle/omnicppcomplete"]
	path = bundle/omnicppcomplete
	url = http://github.com/MasterKey/OmniCppComplete.git
[submodule "bundle/pythoncomplete"]
	path = bundle/pythoncomplete
	url = http://github.com/vim-scripts/pythoncomplete.git
[submodule "bundle/python_match"]
	path = bundle/python_match
	url = http://github.com/vim-scripts/python_match.vim.git
[submodule "bundle/pep8--Driessen"]
	path = bundle/pep8--Driessen
	url = http://github.com/vim-scripts/pep8--Driessen.git
[submodule "bundle/refactor"]
	path = bundle/refactor
	url = git@github.com:SjB/refactor.git
